* {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/Image1.jpg); 
    background-position:10px 30px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

@media (max-width: 600px) {

    body {
        
        background-image: none;
        background-position: 1% 10%;
        background-size: 100% 35%;
        background-repeat: no-repeat;
        
    }


}
