.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-style: groove;
    border-bottom-color: rgba(179, 177, 177, 0.322);
}

.head-left{
    display: flex;
    flex-direction: row;
    color: black;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.head-center{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:center;
    justify-content: center;
    background-color: rgba(99, 99, 99, 0.868);
    
    
}

.head-right{
    color: black;
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.head-center div{
margin: 20px;
    
}

.head-center ul{
    list-style: none;
    display: flex;
}

.head-center ul li {
    padding: 10px 30px;
    position: relative;
}

.head-center ul li a:hover {
    color: rgba(188, 184, 184, 0.557);
}

.head-center ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.dropdown-menu {
    display: none;
}

.head-center ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
}

.dropdown-menu ul{
    display:inline-block;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.557);
    border-radius: 20px;
   
}

.dropdown-menu ul li{
    width: 180px;
    padding: 5px;
    
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}


@media (max-width: 600px) {

    .head-left{
        display: none;
    }

    .head-right{
        display: none;
    }

    .header{
        display: flex;
        color:pink;
        flex-direction: column;
        align-items: last baseline;
        padding-right: 20px;
        border-style: none;
        width: 100%;
        background-color: pink;
    }

    .head-center{
        color: blue;
        width: 300px;
        border-style: none;
        height: 100%;
        position: fixed;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -100%;
        z-index: 10;
        transition: 0.75s ease-out;
}

.head-center ul li:hover .dropdown-menu {
    display: none;
}

.head-center ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.head-center ul li {
    padding: 0;
    display: flex;
    width: 100%;
}

.head-center ul li a{
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 20px 30px;
    height: auto;
    justify-content: flex-start;

}

.open-sidebar-button, .close-sidebar-button{
    display: block;
}

#sidebar-active:checked ~ .head-center{
    right: 0;
}

#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9;
}


}